node_modules
.wrangler
coverage
.env
.dev.vars
yarn-error.log
build/
.cache/
app/styles/app.css
yarn-error.log
.DS_Store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
